// helpers
@mixin showLimitedChildrenClasses ($max) {
  
  @for $i from 1 through $max {
    &.show-#{$i} > *:nth-child(n+#{$i + 1}){
      display: none;
    }
  }
}

.list-collapsible {
  height: auto;
  overflow: hidden;
  transition: all 150ms ease-in-out;

  & + div {
    display: inline-block;
  }

  & + div svg {
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
  }

  @include showLimitedChildrenClasses(20);

}

.list-collapsible + div > .less {
  display: inline-block;
}

.list-collapsible + div > .more {
  display: none;
}

[class^='list-collapsible show-'] + div > .more {
  display: inline-block;
}

[class^='list-collapsible show-'] + div > .less {
  display: none;
}